.ProductDisplay {
  display: flex;
  margin: 0px 50px;
}
.left {
  display: flex;
  gap: 17px;
}
.imgs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.imgs img {
  height: 163px;
}
.main-img {
  width: 500px;
  height: 700px;
}

.right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.right-start {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.price {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0;
  gap: 30px;
  font-weight: 700;
}

.new {
  color: #08d75b;
  font-size: 24px;
  font-weight: 600;
}
.old {
  color: #fd4e32;
  font-weight: 500;
  text-decoration: line-through;
}

.size h1 {
  margin-top: 55px;
  font-size: 20px;
  color: #656565;
  font-weight: 600;
}

.sizes {
  display: flex;
  margin: 30px 0;
  gap: 20px;
}

.sizes div {
  padding: 10px 20px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.category span,
.tags span {
  margin-top: 10px;
  font-weight: 600;
  margin-right: 5px;
}

.category,.tags{margin-block: 10px;}
